.container{
    max-width: 1110px;
    margin: auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.bg-red{
    background: #F6404F;
}
.bg-blue{
    background: #2378FC;
}
.bg-yellow{
    background: #FFC41E;
}
.bg-green{
    background: #30BCC9;
}