.blue-line{
    background-color: #2378FC;
    color: white;
    padding: 75px 0;
}
.blue__title{
    font-size: 30px;
    margin-bottom: 30px;
}
.blue__content{
    justify-content: space-evenly;
}
.blue__list{
    margin-top: 15px;
}
.blue__link{
    color: white;
    font-size: 16px;
}
.blue__link:hover{
    text-decoration: underline;
    color: #FFC41E;
}