.events{
    background: #FFC41E;
}
.events__upper{
    justify-content: space-between;
    padding: 75px 0 55px 0;
}
.events__sector{
    justify-content: space-between;
}
.events__box{
    max-width: 350px;
    margin-top: 40px;
}
.events__img{
    width: 100%;
}
.events__title{
    font-size: 30px;
}
.events__data{
    color: #2E373B;
    font-size: 14px;
    margin-top: 20px;
}
.events__all{
    color: black;
    font-size: 21px;
}
.events__discription{
    color: #2E373B;
    font-size: 16px;
    margin-top: 10px;
}
.events__name{
    color: #F6404F;
    font-size: 21px;
    margin-top: 10px;
}
.events__arrow{
    fill: black;
    transition: 0.3s;
}
.events__all:hover{
    text-decoration: underline;
}
.events__all:hover .events__arrow{
    margin-left: 10px;
}