.big-bg{
    background: url(../../img/bgc.png) center no-repeat;
    color: white;
}
.header{
    min-height: 90px;
    padding: 30px 0;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #A1A1A1;
}
.header__list::before{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
    left: 20px;
    top: 58px;
}
.header__list:hover::before{
    width: 100%;
}
.header__container{
    max-width: 1920px;
    padding: 0 180px;
    margin: auto;
}
.header__link{
    color: white;
}
.header__list{
    padding-left: 47px;
    position: relative;
}
.header__search{
    padding-left: 70px;
}