.big-bg{
    background: url(../../img/bgc.png) center no-repeat;
}
.header__container{
    max-width: 1920px;
    padding: 0 180px;
    margin: auto;
    color: white;
}
.header__link{
    color: white;
}