.hero__content{
    justify-content: space-between;
}
.hero__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 710px;
    max-width: 420px;
}
.left__title{
    font-size: 64px;
}
.left__suptitle{
    font-size: 24px;
}
.peterburg{
    font-size: 30px;
}
.hero__right{
    max-width: 540px;
    justify-content: space-between;
}
.hero__box{
    padding: 30px 0 0 40px;
    box-sizing: border-box;
    min-width: 254px;
    max-width: 255px;
}