.hero__content{
    min-height: 710px;
}
.hero__left{
    height: 100%;
    max-width: 420px;
    align-items: center;
}
.left__title{
    font-size: 64px;
}
.left__suptitle{
    font-size: 24px;
}
.peterburg{
    font-size: 30px;
}